<%= form_for(@entry) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> Je berichtje kan niet worden opgeslagen omdat::</h2>

      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Naam:<br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    Adres:<br>
    <%= f.text_field :adres %>
  </div>
  <div class="field">
    Woonplaats:<br>
    <%= f.text_field :town %>
  </div>
  <div class="field">
    Postcode:<br>
    <%= f.text_field :postbox %>
  </div>
  <div class="field">
    Bericht:<br>
    <%= f.text_area :message %>
  </div>
  <div class="actions form-submitcontainer">
    <%= f.submit "Opslaan", class: "submit-button"%>
  </div>
<% end %>
