<div class="introbubble">
  Hieronder zie je een overzicht van iedereen die een bericht heeft achtergelaten voor <%= @user %>. Wil je <%= @user %> persoonlijk feliciteren? klik dan <%= link_to 'hier', new_entry_path %>.
</div>

<% @entries.each do |entry| %>

<article class="index-article">
  <h1><%= entry.name %></h1>
  <%= entry.adres %><br>
  <%= entry.postbox %> <%= entry.town %> <br><br>
  <%= entry.message %>
  <div class="article-footer"><%= link_to 'Aanpassen', edit_entry_path(entry) %> <%= link_to 'Verwijderen', entry, method: :delete, data: { confirm: 'Weet je het zeker?' } %></div>
</article>
<% end %>
<div class="cleardiv"></div>
